* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.page {
    width: 100vw;
    height: 100vh;

    display: none;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 30px;
}

.active {
    display: flex;
}

#page1 {
    background: #ffd6e8;
}

#page2 {
    background: #fff0f5;
}

#page3 {
    background: #ffe4b5;
}

h1 {
    margin-bottom: 20px;
}

p {
    max-width: 700px;
    line-height: 1.8;
}

button {

    padding: 12px 24px;

    margin-top: 25px;

    border: none;

    border-radius: 10px;

    cursor: pointer;

    font-size: 16px;
}

.buttons {
    display: flex;
    gap: 15px;
}